.square-badge-blue {

  border-radius: 3px;
  width: 50px;
  height: 15px;
  background: #3786ed;
  padding: 5px;
  color: white;
}

.square-badge-teal {

  border-radius: 3px;
  width: 50px;
  height: 15px;
  background: #14a69a;
  padding: 5px;
  color: white;
}

.square-badge-grey {

  border-radius: 3px;
  width: 50px;
  height: 15px;
  background: #e3e8eb;
  padding: 5px;
  color: #343434;
}

.square-badge-orange {

  border-radius: 3px;
  width: 50px;
  height: 15px;
  background: #a67736;
  padding: 5px;
  color: white;
}